body {
  background-color: #ccdfff;
}

.container {
  background-color: #ffffff;
  min-height: 100vh;
  padding-bottom: 30px;
}

.header {
  text-align: center;
}

.header img {
  display: inline-block;
  height: 5%;
  width: 5%;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 30px;
}

.header h1 {
  margin: 0;
  display: inline-block;
}

.banner {
  width: 100%;
  margin-bottom: 15px;
}
